body {
    background-color: #edd9dd;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
    color: #b46c74;
    text-decoration: none;
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ba8482;
    border-radius: 10px;
    background-color: #dd9eae;
}

header {
    background-color: #dd9eae;
    padding: 20px;
    text-align: center;
    font-style: italic;
    border-radius: 8px 8px 0px 0px;
}

#main-navi {
    border-bottom: 2px solid #dfa7a7;
}

#main-navi ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    background-color: #fad9d9;
}

#main-navi ul li {
    padding: 5px;
    margin-right: 10px;
}

main {
    padding: 20px;
    padding-top: 5px;
}

.book {
    border: 1px solid #e4b0b0;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #fdedf1;
}

.book h3 {
    padding: 0px;
    margin: 0px;
}

.bookmark {
    color: #ecbc95;
    text-decoration: none;
    font-size: 2rem;
    float: right;
}

.publishing-info {
    color: #b98f8f;
    margin-top: 0px;
}

label {
    display: inline-block;
    width: 100px;
}

.deleteform {
    float: right;
}