{% extends 'base.html.twig' %}
{% block title %}
	Palindrome Checker
{% endblock %}
{% block body %}
	<main class="container">
		<div>
			<label class="label" for="component-name">
				Enter word
			</label>
			<form method="get" action="{{ path('palindrome_checker') }}">
				<input type="text" name="word" class="input" placeholder="Enter word" id="word" autocomplete="off"/>
			</form>
		</div>
	</main>


{% endblock %}
